<!DOCTYPE html>
<html lang="en">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="../public/assets/css/style.css">
</head>

<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="./portfolio.html" class="brand-logo">JNG Portfolio</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="#">Navbar Link</a>
                </li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li>
                    <a href="#">Navbar Link</a>
                </li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br>
                <br>
                <h1 class="header center teal-text text-lighten-2">
                    Jacqueline N Gwynn
                </h1>
                <div class="row center">
                    <h5 class="header col s12 light">Logical Software Engineer in Test seeking to transition to a
                        front-end
                        developer who is committed to helping
                        the organization grow and ensuring the betterment of client experiences. Skilled in writing
                        scripts and
                        setting up and configuring test environments. Over 6 years of experience performing functional
                        testing
                        on
                        an enterprise level. Recently completed Full Stack Development certification where I gained
                        skills in
                        node,
                        angular, and react.</h5>
                </div>
                <div class="row center">
                    <a href="#" id="" class="btn-large waves-effect waves-light teal lighten-1">Text</a>
                    ::after
                </div>
                <br>
                <br>
            </div>
        </div>
        <div class="parallax">
            <img src="../public/assets/images/portfolio_Image.jpeg" alt="background image"
                style="transform:translate3d(-50%,211.665px,0px); opacity:1;">
        </div>
    </div>
    <div class="container">
        <div class="section">
            <!-- Icon Section -->
            <div class="row">
                <div class="col s12  m4">
                    <div class="icon-block">
                        <h2 class="center brown-text">
                            <i class="material-icons">flash_on</i>
                        </h2>
                        <h5 class="center">Technical Skills: </h5>
                        <ol class="light">
                            <li>HTML/CSS</li>
                            <li>node.js</li>
                            <li>Angular</li>
                            <li>javascript</li>
                            <li>SQL/Sequelize</li>
                            <li>MongoDB/Mongoose</li>
                            <li>React.js</li>
                        </ol>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text">
                            <i class="material-icons">something</i>
                        </h2>
                        <h5 class="center">UI</h5>
                        <p class="light"> blah blah blah </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text">
                            <i class="material-icons">something</i>
                        </h2>
                        <h5 class="center">UI</h5>
                        <p class="light"> blah blah blah </p>
                    </div>
                </div>
                ::after
            </div>
        </div>
    </div>
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">front-end developer</h5>
                    ::after
                </div>
            </div>
        </div>
        <div class="parallax">
            <img src="../public/assets/images/background_image2.jpeg" alt="image2"
                style="opacity:1; transform:translate3d(-50%,158.888px, 0px);">
        </div>
    </div>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h3>
                        <i class="mdi-content-send brown text"></i>
                    </h3>
                    <h4>Contact Us</h4>
                    <p class="left-align light">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec
                        volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies
                        eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque,
                        posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu
                        mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed
                        ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum
                        ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
                    </p>
                </div>
                ::after
            </div>
        </div>
    </div>
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light"> modern responsive front-end framework based on </h5>
                    ::after
                </div>
            </div>
        </div>
        <div class="parallax">
            <img src="../public/assets/images/images_3.jpeg" alt="unc image" style="opacity:1;">
        </div>
    </div>
    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like
                        it's our full time job. Any amount would help support and continue development on this project
                        and is greatly appreciated.</p>
                </div>
                <div class="col  l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li>
                            <a class="white-text" href="#!">Link 1</a>
                        </li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li>
                            <a class="white-text" href="#!">Link 1</a>
                        </li>
                    </ul>
                </div>
                ::after
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">Made by Jacqueline N Gwynn</div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>

    <script src="js.init.js"></script>
    <script src=""></script>
</body>

</html>
















<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="portfolio.html">Profile</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="https://github.com/jgwynn36">GitHub <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/jacqueline-gwynn-csm-cspo-8689b096/">LinkedIn</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Applications
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://github.com/jgwynn36/liri-node-app">liri-node-app</a>
                        <a class="dropdown-item" href="#">Band Hunt Application</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://jgwynn36.github.io/TriviaGame/">Trivia Game</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav> -->

<!-- <div class="jumbotron">
        <h1 class="display-3">Jacqueline N Gwynn </h1>
        <p class="lead">Full Stack Developer Portfolio</p>
        <hr class="my-4">
        <h5>Professional Summary:</h5>
        <p>Logical Software Engineer in Test seeking to transition to a front-end developer who is committed to helping
            the organization grow and ensuring the betterment of client experiences. Skilled in writing scripts and
            setting up and configuring test environments. Over 6 years of experience performing functional testing on
            an enterprise level. Recently completed Full Stack Development certification where I gained skills in node,
            angular, and react. </p>
    </div> -->

<!-- <div class="card" style="width: 18rem;">
        <div class="card-header">
            Technical Skills:
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">HTML/CSS</li>
            <li class="list-group-item">JavaScript/jQuery</li>
            <li class="list-group-item">Version Control/Git</li>
            <li class="list-group-item">node.js</li>
            <li class="list-group-item">React.js</li>
        </ul>
    </div> -->

<!-- <footer class="footer">
        <div class="container">
            <span class="text-muted">Professional Portfolio</span>
        </div>
    </footer> -->
<!-- </html> -->