<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Home</a>
        <a class="navbar-brand" href="application.html">Applications</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="https://github.com/jgwynn36">GitHub <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/jacqueline-gwynn-csm-cspo-8689b096/">LinkedIn</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Applications
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://github.com/jgwynn36/liri-node-app">liri-node-app</a>
                        <a class="dropdown-item" href="#">Band Hunt Application</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://jgwynn36.github.io/TriviaGame/">Trivia Game</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        <h1 class="display-5">Jacqueline N Gwynn </h1>
        <p class="lead">Full Stack Developer Portfolio</p>
        <hr class="my-4">

        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="../public/assets/images/IMG_0899.jpeg" class=" img-thumbnail"
                        alt="Responsive image">
                </div>
                <div class="col">
                    <h2>About Me</h2>
                    <p>Experienced Software Engineer in Test working in an agile environment with a background in
                        front-end and API development supporting a financial services company within NC. Front-end
                        development skills include angular,node, and html/css. Additional skills include test
                        frameworks, scrum, and problem solving.
                    </p>
                    <p> Backed by strong credentials including a masters in information technology degree, certified
                        scrum master, certified product owner, and Six Sigma Yellow Belt. Please visit my <a href="https://www.linkedin.com/in/jacqueline-gwynn-csm-cspo-8689b096/">linkedin
                            profile</a> for additional information.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2>Skills Summary </h2>
                    <ol>
                        <li>Javascript</li>
                        <li>Angular</li>
                        <li>Node.js</li>
                        <li>Regression & Negative Testing</li>
                        <li>Testing Automation</li>
                        <li>Front-end Development</li>
                    </ol>
                </div>
                <div class="col-md-auto">
                    <h2>Education:</h2>
                    <ul>
                        <li>Bachelors in Business Administration - Graduated 2004 </li>
                        <li>Masters in Business Administration - Graduated 2007</li>
                        <li>Masters in Information Systems - Graduated 2014</li>
                        <li>Full-Stack Developer Boot camp - Graduated 2019</li>
                    </ul>
                </div>
                <div class="col">
                    <h2>Fun Facts</h2>
                    <p> I enjoy music and spending time with family. On the weekends it is great to go shopping and
                        hang
                        out with friends. I am fun loving and enjoy traveling. I plan to begin traveling abroad in
                        2020.
                    </p>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <span class="text-muted">Professional Portfolio</span>
            </div>
        </footer>

</html>